<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Canasta Básica Total Estudiantil</h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <p>
          <a href="./nombres.html">
            <i class="fa fa-users" aria-hidden="true"></i> Integrantes del equipo autogestivo de investigación 
          </a>
        </p>
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="https://drive.google.com/file/d/1O_bq6CE0OsTDHmBQm8qNYqLSdugrXy6y/view?usp=drive_link" target="_blank" rel="noopener noreferrer"> Leer <strong>Informe julio 2025</strong></a></li>
          <li><a href="https://drive.google.com/drive/folders/103s4BQ4UvxiaGjwwo2z-xXbco0a3vsHX?usp=drive_link" target="_blank" rel="noopener noreferrer"> Leer <strong>Informes anteriores</strong></a></li>
          <li><a href="https://forms.gle/HKFYZPXSiQC2Uhjv5" target="_blank" rel="noopener noreferrer"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Recibir <strong>Informes mensuales</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>

    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
